<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        BlogPessoal
    </a>
    <ul class="nav me-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Artigos</a>
        </li>
        <li class="nav-item">
            <a href="/admin/users" class="nav-link">Usuários</a>
        </li>
    </ul>


    <ul class="nav ml-auto">
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>